<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Players</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <style>
        th {
            cursor: pointer;
            color: var(--secondary-color);
        }
    </style>
</head>

<body style="background-color: var(--primary-color); font-family: var(--primary-font)">
    <%- include("./partials/navbar") %>
        <main class="p-5 d-flex align-items-center justify-content-center flex-column"
            style="background-color: var(--primary-color)">
            <h2 class="my-4">Here are the best players in the league so far!</h2>
            <table class="table table-hover table-bordered">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Cost (in million £)</th>
                    <th scope="col">Goals</th>
                    <th scope="col">Assists</th>
                    <th scope="col">Goal Contributions</th>
                </tr>
                <% for( let i=0; i < bestPlayers.length; i++ ) { %>
                    <tr>
                        <td>
                            <%= bestPlayers[i].playerName %>
                        </td>
                        <td>
                            <%= bestPlayers[i].cost %>
                        </td>
                        <td>
                            <%= bestPlayers[i].goals %>
                        </td>
                        <td>
                            <%= bestPlayers[i].assists %>
                        </td>
                        <td>
                            <%= bestPlayers[i].totalContributions %>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </main>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>
        <script>
            const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
            const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

            // do the work...
            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = th.closest('table');
                Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => table.appendChild(tr));
            })));
        </script>
</body>

</html>